{% load thumbnail %}

<li class="item-short {% if hero %}item-short-hero{% else %}item-short-regular{% endif %} category-{{ item.category.name|slugify }}">
    <a class="th" href="{{ item.url }}">
        {% thumbnail item.image_random.img "x200" as thumb %}
            <img class="item-short-img show-for-medium-up" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ item.name }}">
            {% include "includes/item-short-name.html" with item=item %}
            <div align="center">
                <img class="item-short-img-small show-for-small-only" src="{{ thumb.url }}" width="{{ thumb.width }}" height="{{ thumb.height }}" alt="{{ item.name }}">
            </div>
        {% empty %}
            {% include "includes/item-short-name.html" with item=item %}
        {% endthumbnail %}
        <p>{{ item.description|safe }}</p>
    </a>
    {% if hero and item.button_main %}
        <a class="button small expand {{ item.button_main.css_class }}" href="{{ item.button_main.link }}" {% if item.button_main.link_is_external %}target="_blank"{% endif %}>{{ item.button_main.text }}</a>
    {% endif %}
</li>
