coverage==4.5.1
zappa==0.46.1
Django==1.11.11
django-pigeon==0.3.0
python-memcached==1.59
psycopg2==2.7.5
Pillow==5.2.0
django-classbasedsettings==1.5.0
dj-database-url==0.5.0
sorl-thumbnail==12.4.1
django-ordered-model==2.0.0
boto==2.49.0
django-storages==1.6.6
