.container {
    padding-left: 10px;
    padding-right: 10px;
}

.firstletter {
    float: left;
    color: #4ad;
    font-size: 75px;
    line-height: 60px;
    padding-top: 8px;
    padding-right: 4px;
    padding-left: 4px;
    font-family: Georgia;
}

.avatar {
    border-radius: 50%;
    max-height: 125px;
    float: left;
    margin-right: 24px;
    margin-bottom: 24px;
}

.badges {
    display: inline-block;
}

.top-bar {
    margin-bottom: 60px;
}

.home-container {
    margin: auto;
    max-width: 850px;
}

.home-hero-unit {
    margin: auto;
    width: 100%;
    min-height: 170px;
}

.hero-units {
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
    background: #f2f2f2;
}
.hero-unit {
    margin: auto;
    padding-top: 15px;
    max-width: 850px;
    min-height: 275px;
}
.hero-unit-right {
    display: block;
    float: right;
    margin-left: 24px;
}
.hero-unit-right > a > img {
    margin-bottom: 10px;
    max-height: 200px;
}

.semi-avatar {
    float: right;
    max-height: 130px;
}

.sub-nav {
    background-color: #f2f2f2;
    padding: 10px 10px 10px 0;
}

.no-orbit-bottom {
    padding-bottom: 30px;
}
.items-regular {
    margin-top: 30px;
}


.item-regular > a > p {
    color: #000000;
}
.item-short-img {
    float: left;
    max-height: 200px;
    width: auto;
    margin-right: 24px;
}

.category-links {
    margin-top: 60px;
    margin-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
}

.category-links > li h4 {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #008CBA;
}

.category-links > li p {
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
}

.category-img {
    width: 100%;
}

.category-img > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.category-img-productions {
    background: #319966;
}

.item-images {
    max-width: 300px;
}
.item-images.show-for-small-only {
    margin: auto;
    margin-bottom: 10px;
}
.item-images.show-for-medium-up {
    margin-left: 35px;
    float: right;
}
.item-images > div {
    background-color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
    border-color: #d8d8d8;
}
.item-images img {
    width: 300px;
}
.item-images p {
    margin: 8px;
}

.footer-back {
    background: url(/static/img/footer.png) no-repeat center bottom;
    min-height: 160px;
    padding-top: 3em;
}

.footer {
    margin-top: 60px;
}
.footer a {
    color: #ffffff;
}
.footer ul {
    text-align: center;
}
.footer-small li {
    margin-top: 10px;
    margin-bottom: 10px;
}
.footer-back li {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
.footer-small a {
    color: #000000;
}
.footer-small a:hover {
    color: #999999;
}
.footer-back a:hover {
    color: #000000;
}

.social {
    margin-right: 8px;
    font-size: 22px;
}
.footer .fa-twitter {
    position: relative;
    top: 2px;
    margin-right: 4px;
}
