{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="shortcut icon" href="{% static "favicon.ico" %}" type="image/x-icon">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static "css/foundation.css" %}" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}" type="text/css" charset="utf-8" />
        {% block cssincludes %}{% endblock %}
        <link rel="stylesheet" href="{% static "css/revolutiontech.css" %}" type="text/css" charset="utf-8" />
        <link rel="stylesheet" href="{% block css %}{% endblock %}" type="text/css" charset="utf-8" />
    </head>
    <body>
        <!-- Header -->
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h2><a href="{% url 'home' %}">Revolution Technologies</a></h2>
                </li>
                <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
            </ul>

            <section class="top-bar-section">
                <ul class="left">
                    <li {% if page == 'games' %}class="active"{% endif %}><a href="{% url 'games:games_list' %}">Games</a></li>
                    {% if page == 'productions' %}<li class="active"><a href="{% url 'productions:productions_list' %}">Productions</a></li>{% endif %}
                    <li {% if page == 'software' %}class="active"{% endif %}><a href="{% url 'software:software_list' %}">Software</a></li>
                </ul>
                <ul class="right show-for-large-up">
                    <li><a href="https://github.com/RevolutionTech/" target="_blank"><i class="fa fa-2x fa-github"></i></a></li>
                    <li><a href="http://www.linkedin.com/in/lucasconnors" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a></li>
                    <li><a href="http://www.youtube.com/user/RevolutionTechnology" target="_blank"><i class="fa fa-2x fa-youtube"></i></a></li>
                </ul>
            </section>
        </nav>

        <!-- Content -->
        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

        <!-- Footer -->
        <footer class="footer footer-back show-for-medium-up">
            <div class="row">
                <div class="large-12 columns">
                    <ul>
                        <li><a href="https://github.com/RevolutionTech/" target="_blank"><i class="social fa fa-github"></i>RevolutionTech</a></li>
                    </ul>
                </div>
                <div class="large-12 columns">
                    <ul>
                        <li><a href="http://www.linkedin.com/in/lucasconnors" target="_blank"><i class="social fa fa-linkedin"></i>Lucas Connors</a></li>
                        <li><a href="http://www.youtube.com/user/RevolutionTechnology" target="_blank"><i class="social fa fa-youtube"></i>RevolutionTechnology</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <footer class="footer footer-small show-for-small-only">
            <ul class="row">
                <li><a href="https://github.com/RevolutionTech/" target="_blank"><i class="social fa fa-github"></i>RevolutionTech</a></li>
                <li><a href="http://www.linkedin.com/in/lucasconnors" target="_blank"><i class="social fa fa-linkedin"></i>Lucas Connors</a></li>
                <li><a href="http://www.youtube.com/user/RevolutionTechnology" target="_blank"><i class="social fa fa-youtube"></i>RevolutionTechnology</a></li>
            </ul>
        </footer>

        <!-- JS -->
        <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/modernizr.js" %}"></script>
        <script type="text/javascript" src="{% static "js/foundation.min.js" %}"></script>
        <script type="text/javascript" src="{% static "js/filter.js" %}"></script>
        <script type="text/javascript">$(document).foundation();</script>
        {% block jsincludes %}{% endblock %}
    </body>
</html>
