{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Revolution {{ page|title }}{% endblock %}

{% block cssincludes %}
    <link rel="stylesheet" href="{% static "slick/slick.css" %}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{% static "slick/slick-theme.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    {% if items.heroes or items.regular %}
        <div class="home-container">
            <div class="hero-units show-for-medium-up">
                {% for hero in items.heroes %}
                    {% include "includes/hero-unit.html" with item=hero %}
                {% endfor %}
            </div>
            <div class="items-short">
                <ul class="large-block-grid-1 show-for-small-only">
                    {% for item in items.heroes %}
                        {% include "includes/item-short.html" with item=item hero=True %}
                    {% endfor %}
                </ul>
                {% if categories %}
                    <dl class="sub-nav">
                        <dt>Filter:</dt>
                        <dd class="category-all active"><a href="javascript: void(0);">All</a></dd>
                        {% for category in categories %}
                            <dd class="category-{{ category.name|slugify }}"><a href="javascript: void(0);">{{ category.name }}</a></dd>
                        {% endfor %}
                    </dl>
                {% endif %}
                <ul class="items-short-regular large-block-grid-1">
                    {% for item in items.regular %}
                        {% include "includes/item-short.html" with item=item %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% else %}
        <p>Nothing to see here, check back later!</p>
    {% endif %}
{% endblock %}

{% block jsincludes %}
    <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('.hero-units').slick({
                autoplay: true,
                autoplaySpeed: 4000,
                initialSlide: {{ random_hero_unit_index|default:0 }},
                prevArrow: "<button type=\"button\" class=\"slick-prev show-for-large-up\">Previous</button>",
                nextArrow: "<button type=\"button\" class=\"slick-next show-for-large-up\">Next</button>",
            });
        });
    </script>
{% endblock %}
