{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Revolution Technologies{% endblock %}

{% block content %}
<div class="home-container">
    <div class="panel home-hero-unit 170">
        <img class="avatar" src="{% static "img/Lucas.jpg" %}" alt="Lucas Connors">
        <p><span class="firstletter">H</span>ello, my name is Lucas Connors. Currently, I am working at <a href="https://www.numerator.com/" target="_blank">Numerator</a> in San Francisco as a Software Engineer. I am passionate about creating experiences that improve the satisfaction and efficiency through which individuals carry out their digital lives. Not everyone has the same needs and I recognize that. I think understanding how people live, work, and play is the first step to making their world a better place, one line of code at a time.</p>
    </div>
    <ul class="category-links small-block-grid-1 medium-block-grid-2 large-block-grid-2">
        <li>
            <a href="{% url 'games:games_list' %}">
                <div class="th">
                    <div class="category-img"><img src="{% static "img/games.png" %}" alt="Revolution Games"></div>
                    <h4>Games</h4>
                    <p>Computer games including award-winning titles such as <em>Esprit's Labyrinth</em> and <em>Blockade</em>.</p>
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'software:software_list' %}">
                <div class="th">
                    <div class="category-img"><img src="{% static "img/software.png" %}" alt="Revolution Software"></div>
                    <h4>Software</h4>
                    <p>Python libraries and open-source web apps such as <em>Flamingo</em>, <em>PerDiem</em>, and <em>Seared Quail</em>.</p>
                </div>
            </a>
        </li>
    </ul>
    <div class="panel home-hero-unit 140">
        <img class="semi-avatar" src="{% static "img/logo.png" %}" alt="Revolution Technologies">
        <p>The initial sparks of Revolution Technologies began in 2003 when I started creating computer games, eventually under the name Revolution Games. In 2008, I expanded it to also include software (as well as multimedia and computer repair, which have since been phased out). Today I continue to juggle some side projects, mostly web applications created with Python &amp; Django.</p>
    </div>
</div>
{% endblock %}
