[run]
source = ./

# Omit files from coverage that only run on prod
omit =
    revolutiontech/gunicorn.py
    revolutiontech/settings/__init__.py
    revolutiontech/wsgi.py

[report]
exclude_lines =
    pragma: no cover

    # Ignore defensive assertion code / illegal states
    raise AssertionError
    raise IllegalStateException
    raise NotImplementedError

    # Ignore pass (often used in abstract methods)
    pass
