{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Revolution Technologies{% endblock %}

{% block content %}
<div class="home-container">
    <div class="panel home-hero-unit 170">
        <img class="avatar" src="{% static "img/Lucas.jpg" %}" alt="Lucas Connors">
        <p><span class="firstletter">H</span>ello, my name is Lucas Connors. Currently, I am working at Google as a Software Engineer. <span class="text-together">I am passionate</span> about creating experiences that improve the satisfaction and efficiency through which individuals carry out their digital lives. Not everyone has the same needs and I recognize that. <span class="text-together">I think understanding</span> how people live, work, and play is the first step to making their world a better place, one line of code at a time.</p>
    </div>
    <ul class="category-links small-block-grid-1 medium-block-grid-3 large-block-grid-3">
        <li>
            <a href="{% url 'games:games_list' %}">
                <div class="th">
                    <div class="category-img"><img src="{% static "img/games.png" %}" alt="Revolution Games"></div>
                    <h4>Games</h4>
                    <p>Computer games including award-winning titles such as <em>Esprit's Labyrinth</em> and <em>Blockade</em>.</p>
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'productions:productions_list' %}">
                <div class="th">
                    <div class="category-img category-img-productions"><img src="{% static "img/productions.png" %}" alt="Revolution Productions"></div>
                    <h4>Productions</h4>
                    <p>Short films, and 2D and 3D animations with projects such as <em>The Gum Thief</em>.</p>
                </div>
            </a>
        </li>
        <li>
            <a href="{% url 'software:software_list' %}">
                <div class="th">
                    <div class="category-img"><img src="{% static "img/software.png" %}" alt="Revolution Software"></div>
                    <h4>Software</h4>
                    <p>Open-source web apps and hackathon projects such as <em>Hummingbird</em> and <em>Seared Quail</em>.</p>
                </div>
            </a>
        </li>
    </ul>
    <div class="panel home-hero-unit 140">
        <img class="semi-avatar" src="{% static "img/logo.png" %}" alt="Revolution Technologies">
        <p>The initial sparks of Revolution Technologies began in 2003 when I started creating computer games, eventually under the name Revolution Games. In 2008, I expanded it to also include multimedia productions and software programs (as well as computer repair which was mostly phased out in 2013). Today I continue to juggle some software development, mostly on a Python/Django backend.</p>
    </div>
</div>
{% endblock %}
