{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Revolution Technologies{% endblock %}

{% block css %}{% static "css/revolutiontech.css" %}{% endblock %}

{% block content %}
<div class="panel hero-unit">
    <img class="avatar" src="{% static "img/Lucas.jpg" %}" alt="Lucas Connors">
    <p><span class="firstletter">M</span>y name is Lucas Connors. Currently, I am working at Google as a Software Engineer. I am passionate about creating well-structured and efficient programs that are simple to understand and easy to use. I love learning new things from different people. I think understanding how people live, work and play is the first step to making their world a better place, one line of code at a time.</p>
</div>

{% endblock %}
