{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Revolution Technologies{% endblock %}

{% block content %}
<div class="panel hero-unit">
    <img class="avatar" src="{% static "img/Lucas.jpg" %}" alt="Lucas Connors">
    <p><span class="firstletter">M</span>y name is Lucas Connors. Currently, I am working at Google as a Software Engineer. I am passionate about creating well-structured and efficient programs that are simple to understand and easy to use. I love learning new things from different people. I think understanding how people live, work and play is the first step to making their world a better place, one line of code at a time.</p>
</div>
<ul class="category-links small-block-grid-1 medium-block-grid-3 large-block-grid-3">
    <li>
        <a href="{% url 'games' %}">
            <div class="th">
                <div class="th"><img src="{% static "img/games.png" %}" alt="Revolution Games"></div>
                <h4>Games</h4>
                <p>Computer games including award-winning titles such as <em>Esprit's Labyrinth</em> and <em>Blockade</em>.</p>
            </div>
        </a>
    </li>
    <li>
        <a href="{% url 'productions' %}">
            <div class="th">
                <div class="th" style="background: #319966;"><img src="{% static "img/productions.png" %}" alt="Revolution Productions"></div>
                <h4>Productions</h4>
                <p>Short films, and 2D and 3D animations with projects such as <em>The Gum Thief</em>.</p>
            </div>
        </a>
    </li>
    <li>
        <a href="{% url 'software' %}">
            <div class="th">
                <div class="th"><img src="{% static "img/software.png" %}" alt="Revolution Software"></div>
                <h4>Software</h4>
                <p>Mobile applications and spontaneous hackathon projects such as <em>Hummingbird</em>.</p>
            </div>
        </a>
    </li>
</ul>
<div class="panel semi-hero-unit">
    <img class="semi-avatar" src="{% static "img/logo.png" %}" alt="Revolution Technologies">
    <p>The initial sparks of Revolution Technologies began in 2003 when I started creating computer games, eventually under the name Revolution Games. In 2008, I expanded it to also include multimedia productions and software programs (as well as computer repair which was mostly phased out in 2013). Today I continue to juggle game development along with software projects, mostly on a Python/Django and Android stack.</p>
</div>
{% endblock %}
