{% extends "base.html" %}
{% load staticfiles %}

{% block title %}{{ item.name }}{% endblock %}

{% block cssincludes %}
    <link rel="stylesheet" href="{% static "slick/slick.css" %}" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="{% static "slick/slick-theme.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <div class="home-container">
        <div class="item-page">
            <div class="item-images show-for-medium-up">
                {% include "includes/image-rotator.html" with images=item.image_all %}
            </div>
            <h2>{{ item.name }}{% if item.release_year %} ({{ item.release_year }}){% endif %}</h2>
            <div class="item-images show-for-small-only">
                {% include "includes/image-rotator.html" with images=item.image_all %}
            </div>
            {% if item.platform.all %}
                <h4>
                    {% for platform in item.platform.all %}
                        <i class="fa fa-{{ platform.css_class }}"></i> {{ platform.name }}&nbsp;
                    {% endfor %}
                </h4>
            {% endif %}
            {% if item.min_players %}
                <h4>
                    {% include "includes/players.html" with item=item %}
                    Player{% if item.min_players > 1 or not item.max_players or item.max_players > 1 %}s{% endif %}
                </h4>
            {% endif %}
            <p>{{ item.description|safe }}</p>
            {% for button in item.button_all %}
                <a class="button small {{ button.css_class }}" href="{{ button.link }}" {% if button.link_is_external %}target="_blank"{% endif %}>{{ button.text }}</a>
            {% endfor %}
            <div class="fb-comments" data-href="{{ absolute_uri }}" data-width="100%" data-numposts="5"></div>
        </div>
    </div>
{% endblock %}

{% block jsincludes %}
    <script type="text/javascript" src="{% static "slick/slick.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/slick-item-page.js" %}"></script>
    <script type="text/javascript" src="{% static "js/facebook-sdk.js" %}"></script>
{% endblock %}
